name: Generate Mermaid Diagrams

on:
  # push:
  #   paths:
  #     - '**.mmd'
  pull_request:
    paths:
      - '**.mmd'

jobs:
  generate-diagrams:
    runs-on: ubuntu-latest
    env:
      ICON_PACKAGES: '["logos", "mdi"]'
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Get changed files
      id: changed-files
      uses: technote-space/get-diff-action@v6
      with:
        PATTERNS: |
          **/*.mmd

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
    
    - name: Install dependencies
      run: npm ci
      if: env.GIT_DIFF_FILTERED
    
    - name: Generate Diagrams
      # env:
      #   CHANGED_FILES: ${{ steps.changed-files.outputs.files }}
      run: |
        ICONS=$(echo '${{ env.ICON_PACKAGES }}' | jq -r '.[] | "--icons " + .' | tr '\n' ' ')

        if [ -n "${{ env.GIT_DIFF_FILTERED }}" ]; then
          echo "Generating diagrams for changed files: ${{ env.GIT_DIFF_FILTERED }}"
          for file in $CHANGED_FILES; do
            output_file=$(echo "$file" | sed 's/\.mmd$/.svg/' | sed 's/^docs\//docs\/auto_generated\//')

            echo "Processing $file"
            npx mmdc -i "$file" -o "$output_file" --icons $ICONS
          done
        else
          echo "No Mermaid files changed"
          exit 0
        fi
    
    - name: Auto Commit
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: Generate Mermaid diagrams for changed files
        file_pattern: '**/*.svg'
